html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.15;
}

body {
    background-color: #eeeeee;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

main {
    display: block;
}

.main-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrapper {
    margin-right: -0.5px;
    margin-left: -0.5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

.wrapper-inner {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: 100%;
    max-width: 100%;
    display: block;
}

.wrapper-inner-container {
    box-sizing: border-box;
    position: relative;
    transition: box-shadow 100ms ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0px;
    border-bottom: medium none;
    border-radius: 0.375em;
    box-shadow: rgba(85, 85, 85, 0.5) 0px 1px 2px 0px;
    padding: 0px;
}

.wrapper-header {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 25px 1.25em 25px 30px;
}

.wrapper-header h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 28px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: inherit;
    color: rgb(51, 51, 51);
}

.wrapper-content {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: -10px;
    flex-direction: row;
}

.wrapper-content-list {
    flex: 0 0 17%;
    max-width: 17%;
}

.wrapper-content-list ul {
    margin: 0px;
    padding: 10px 0px 0px;
}

.wrapper-content-list ul li {
    outline: currentcolor none medium;
    cursor: pointer;
    list-style-type: none;
    color: rgb(112, 112, 112);
    padding: 0px !important;
    margin: 0px 0px 0px 1em !important;
    width: 100% !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    margin: 0px 0px 0.75em 0.75em;
    border: medium none;
    border-radius: 0.25em;
    padding: 0px 0.875em;
    width: 170px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2em;
    color: rgb(112, 112, 112);
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.wrapper-content-list ul li span {
    display: inline-block;
    line-height: 50px;
    padding: 0px 1em;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-content-list ul li.selected-tab {
    background-color: rgb(241, 248, 254);
    color: rgb(43, 80, 194);
}

.wrapper-content-list ul li.selected-tab::before {
    position: absolute;
    left: 0px;
    border-radius: 0px 0.25em 0.25em 0px;
    background-color: rgb(43, 80, 194);
    width: 5px;
    height: 50px;
    content: "";
}

.wrapper-content-tabs {
    flex: 0 0 83%;
    max-width: 83%;
    padding-left: 2em;
}

.wrapper-content-tabs .tabs {
    width: 100%;
}

.swiper-container {
    padding: 0.625em 1em 0.5em 0px;
    width: 100%;
}

.swiper-slide {
    height: auto;
    margin-bottom: 1em;
}

.swiper-slide article {
    display: block;
    position: relative;
    height: 100%;
}

.product-box {
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-radius: 0.375em;
    height: 100%;
    -moz-box-pack: initial;
    justify-content: initial;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    z-index: 1;
}

.product-box a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.product-box-inner {
    margin-right: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}

.product-box-inner-img {
    flex-basis: 100%;
    max-width: 100%;
    display: block;
    padding-right: 0rem;
    padding-left: 0rem;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.product-box-inner-img-box {
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    overflow: hidden;
}

.product-box-inner-img-box div {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.product-box-inner-img-box div img {
    position: relative;
    border: medium none;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: block;
    mix-blend-mode: multiply;
    width: 100%;
}

.product-box-inner-content {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    flex: 0 0 100%;
    padding-right: 0rem;
    padding-left: 0rem;
}

.product-box-inner-content-header {
    display: block;
    padding: 1em 0.75em 0.5em;
    min-height: 56px;
}

.product-box-inner-content-header h2 {
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    line-height: 1.34;
    color: rgb(51, 51, 51);
    margin-bottom: 0.25em;
    height: auto;
    font-size: 0.875em;
    font-weight: 500;
}

.product-box-inner-content-price {
    border-radius: 0.375em;
    background-color: rgb(244, 244, 244);
    margin-bottom: 0.75em;
    padding: 0.75em;
    flex: 0 0 100%;
    max-width: 100%;
}

.product-box-inner-content-price span {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: inherit;
    font-size: 1.5em;
    color: rgb(51, 51, 51);
    line-height: normal;
    font-weight: bold;
}

.product-box-inner-content-cargo {
    position: relative;
    padding: 0px 0.75em;
    min-height: 3.5em;
}

.free-cargo {
    display: flex;
    position: relative;
    -moz-box-align: center;
    align-items: center;
    margin: 0px 0px 0.5em;
    padding: 0px;
}

.free-cargo-icon {
    display: inline-flex;
    position: relative;
    margin: 0px 0.5em 0px 0px;
    border-radius: 0px;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    color: inherit;
}

.free-cargo-text {
    float: inherit;
    text-align: left;
    text-decoration: inherit;
    font-size: 0.75em;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    color: rgb(112, 112, 112);
    margin: 0px;
    padding: 0px;
    line-height: 16px;
    font-weight: 500;
}

.add-to-cart {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    flex-direction: column;
    -moz-box-pack: end;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}

.add-to-cart button {
    box-sizing: border-box;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 0.375em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    appearance: none !important;
    display: flex;
    width: 100%;
    border: medium none;
    background-color: rgb(54, 101, 243);
    color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    height: 2.5em;
    margin-top: 8px;
    font-size: 0.875em;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.product-box:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px, rgba(0, 0, 0, 0.15) 0px 14px 25px 0px;
    z-index: 2;
}

.product-box:hover .free-cargo {
    visibility: hidden;
}

.product-box:hover .add-to-cart button {
    visibility: visible;
}

.swiper-button {
    display: inline-flex;
    margin: 0px 0.125em 0px 0px;
    background: transparent none repeat scroll 0% 0%;
    padding: 0px;
    top: 4.75em;
    align-items: center;
    justify-content: center;
    z-index: 15 !important;
    box-sizing: unset;
}

.swiper-button::after {
    font-family: inherit;
    font-size: inherit;
    content: "";
}

.swiper-button svg {
    position: relative;
    left: 0.31rem;
    flex: 0 0 16px;
    max-width: 16px;
}

.swiper-button-next {
    position: absolute;
    z-index: 10;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 30rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 2.12rem;
    height: 4.25rem;
    color: inherit;
    right: -2.125rem;
    padding-right: 2.12rem;
    left: auto;
}

.swiper-button-prev {
    position: absolute;
    z-index: 10;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 30rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 2.12rem;
    height: 4.25rem;
    color: inherit;
    right: auto;
    align-items: center;
    justify-content: center;
    left: -2.12rem;
    padding-left: 2.12rem;
    top: 4.75em;
}

.swiper-button-prev svg {
    position: relative;
    left: -0.31rem
}

.product-added {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: 1em;
    width: 100%;
    max-width: 400px;
}

.product-added-container {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    opacity: 0.95;
    margin-top: 1em;
    border-radius: 8px;
    background-color: rgb(17, 24, 32);
    cursor: pointer;
    padding: 1.25em;
    animation: 0.5s ease;
    color: rgb(255, 255, 255);
}

.icon-container-box {
    display: inline-flex;
    position: relative;
    margin: 0px 0.875em 0px 0px;
    border-radius: 50%;
    background-color: rgb(54, 180, 88);
    padding: 0.315em;

}

.text-container {
    display: flex;
    flex: 1 1 0%;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.text-container-box {
    display: flex;
    flex-direction: column;
}

.text-container-box a {
    margin: 0px;
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
    font-size: 0.875em;
    line-height: 1.43;
    color: rgb(175, 193, 250);
}

@media only screen and (min-width: 37.5em) {
    .container {
        width: 36.5rem;
    }
}

@media only screen and (min-width: 40em) {
    .container {
        width: 46.938rem;
    }
}

@media only screen and (min-width: 60em) {
    .container {
        width: 58.938rem;
    }
}

@media only screen and (min-width: 80em) {
    .container {
        width: 78.938rem;
    }
}

@media screen and (max-width: 960px) {
    .wrapper-content {
        flex-wrap: wrap;
    }

    .wrapper-content-list {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0.5em;
        overflow-x: scroll;
    }

    .wrapper-content-list ul {
        display: flex;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .wrapper-content-list ul li {
        outline: unset;
        cursor: pointer;
        list-style-type: none;
        color: rgb(112, 112, 112);
        padding: 0px !important;
        margin: 0px !important;
        display: inline-block;
        border: none;
        border-radius: unset;
        padding: unset;
        overflow: unset;
        text-overflow: unset;
        line-height: 2em;
        color: rgb(112, 112, 112);
        font-size: 1em;
        width: auto !important;
        position: relative;
    }

    .wrapper-content-list ul li.selected-tab {
        background-color: transparent;
        position: relative;
    }

    .wrapper-content-list ul li.selected-tab::before {
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0px;
        float: none;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        background-color: rgb(54, 101, 243);
        width: 100%;
        height: 2px;
        content: "";
    }

    .wrapper-content-list ul li span {
        color: rgb(112, 112, 112);
        overflow: unset;
    }

    .wrapper-content-list ul li.selected-tab span {
        color: rgb(51, 51, 51);
    }

    .wrapper-header {
        padding: 1.5em 1.5em 0px;
    }

    .wrapper-content-tabs {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .mobile-wrapper {
        padding: 1em 1.5em;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
    }

    .mobile-slide {
        padding-right: 1em;
        flex: 0 0 14em;
        max-width: 14em;
    }

    .swiper-lazy-preloader {
        display: none;
    }
}